name: Release

on:
  push:
    branches: [main]

permissions:
  id-token: write
  contents: read

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out codebase
        uses: actions/checkout@v4

      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable

      - name: Install environment
        run: nix develop --command pnpm i

      - name: Build
        run: nix develop --command cli build

      - name: Prepare for Trusted Publishing
        run: |
          pwd
          echo -e 'registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}\nregistry=registry.npmjs.org/' > .nmprc
          cat .npmrc

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          publish: nix develop --command cli publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
